@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #000;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  color-scheme: dark;
}